<div class="container">
    <div class="form-container">
        <div class="add-user-form">
            <h2>{{ 'ADD_NEW_USER' | translate }}</h2>
            <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">{{ 'USERNAME' | translate }}:</label>
                    <input type="text" id="username" name="username" formControlName="username" required>
                </div>
                <div class="form-group">
                    <label for="email">{{ 'EMAIL' | translate }}:</label>
                    <input type="email" id="email" name="email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="name">{{ 'NAME' | translate }}:</label>
                    <input type="text" id="name" name="name" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="role">{{ 'ROLE' | translate }}:</label>
                    <select id="role" name="role" formControlName="role" required>
                        <option value="1">{{ 'USER' | translate }}</option>
                        <option value="0">{{ 'ADMIN' | translate }}</option>
                    </select>
                </div>
                <button type="submit">{{ 'ADD_USER' | translate }}</button>
            </form>
        </div>
    </div>
</div>