<div class="container">
    <div class="form-container">
        <form class="login-form" (ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="model.username" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="model.password" required>
    
            <button type="submit">Login</button>
        </form>
    </div>
</div>