@import '/src/assets/styles/colors';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 25%;
}

.login-form {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        color: $primary-color;
    }
    
    div.error-message {
        color: $error-color;
        font-size: 14px;
        margin-top: 5px;
    }
}