<div class="container">
    <div class="form-container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" formControlName="username" required>
            <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="error-message">
                Username is required.
            </div>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password" required>
            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
                Password is required.
            </div>
    
            <button type="submit">Login</button>
        </form>
    </div>
</div>