<div class="user-list">
    <div *ngFor="let user of users" class="user-card">
        <div><strong>{{ 'USERNAME' | translate }}:</strong> {{ user.username }}</div>
        <div><strong>{{ 'EMAIL' | translate }}:</strong> {{ user.email }}</div>
        <div><strong>{{ 'NAME' | translate }}:</strong> {{ user.name }}</div>
        <div><strong>{{ 'ROLE' | translate }}:</strong> {{ user.role === 1 ? 'User' : 'Admin' }}</div>
        <div class="user-options">
            <app-cta-button text="{{ 'VIEW_AS' | translate }}" (onClickEvent)="viewAs(user)"></app-cta-button>
            <app-cta-button text="{{ 'EDIT' | translate }}" (onClickEvent)="editUser(user)"></app-cta-button>
            <app-cta-button text="{{ 'DELETE' | translate }}" (onClickEvent)="confirmDeleteUser(user)"></app-cta-button>
        </div>
    </div>
</div>