/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/_colors';
@import 'assets/styles/forms';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    margin: 0;
}