form {
    label {
        margin-top: 10px;
        color: $primary-color;
    }

    input,
    select {
        margin-top: 5px;
        padding: 8px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    select {
        font-size: 16px;
        cursor: pointer;
    }

    button {
        padding: 10px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 15px;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}